In [55]:
import numpy as np 
import pandas as pd 
import seaborn as sns
import os
#from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [56]:
#LR = LogisticRegression(multi_class='multinomial',solver='newton-cg')
RFC = RandomForestClassifier(n_estimators = 100)

In [57]:
sns.set()

In [58]:
data = pd.read_csv("centar.csv")

In [59]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92246 entries, 0 to 92245
Data columns (total 6 columns):
time    92246 non-null object
CO      37893 non-null float64
NO2     40383 non-null float64
O3      54732 non-null float64
PM10    55670 non-null float64
PM25    53825 non-null float64
dtypes: float64(5), object(1)
memory usage: 4.2+ MB

In [60]:
data.dropna(axis=0, how='any', inplace=True)

In [61]:
data.PM25 /=40
data.PM25 = data.PM25.round()

In [62]:
data.head(10) #check to see if the dataset is in order

                  time      CO       NO2       O3     PM10  PM25
33519  9/13/2011 18:00  0.3887   58.9646  51.5092  38.1547   1.0
33520  9/13/2011 19:00  0.4421   68.2525  34.4506  35.8808   1.0
33521  9/13/2011 20:00  0.7148   66.7734  25.1838  34.2354   1.0
33522  9/13/2011 21:00  1.6137  109.7333   2.9439  66.8992   3.0
33523  9/13/2011 22:00  1.3324   95.8612   0.0000  79.7372   3.0
33524  9/13/2011 23:00  0.7491   78.2269   3.7069  50.3365   2.0
33525   9/14/2011 0:00  0.3395   68.0701   8.3650  47.4235   2.0
33526   9/14/2011 1:00  0.2550   43.5155  16.7639  41.7137   2.0
33527   9/14/2011 2:00  0.1325   31.5916  22.3230  35.1212   1.0
33528   9/14/2011 3:00  0.8617   27.1957  23.6626  31.3248   1.0

In [63]:
data.tail(10) #check to see if the dataset is in order

                 time      CO      NO2       O3     PM10  PM25
68047  7/7/2015 14:00  0.1377  30.2997  96.6010  12.5793   1.0
68048  7/7/2015 15:00  0.1324  27.2683  91.8190   9.8717   1.0
68049  7/7/2015 16:00  0.1397  21.2495  93.8080  13.2797   1.0
68050  7/7/2015 17:00  0.1541  22.2750  84.5574  19.5638   1.0
68051  7/7/2015 18:00  0.1480  20.5140  90.2078  23.1204   1.0
68052  7/7/2015 19:00  0.1285  26.0199  86.3030  26.9141   1.0
68053  7/7/2015 20:00  0.1309  17.0523  82.7170  27.0717   1.0
68054  7/7/2015 21:00  0.1250  18.9359  69.8806  43.4207   1.0
68055  7/7/2015 22:00  0.3023  31.9770  41.6910  58.6680   1.0
68056  7/7/2015 23:00  0.2666  33.5958  29.3240  53.7627   1.0

In [64]:
#data.max()

In [65]:
#data.info()

In [66]:
train, test = train_test_split(data, test_size = 0.3) #split the data set into training and testing instances
#train.head(5)

In [67]:
train_features = train.iloc[:,1:5]
train_target = train["PM25"]

test_features = test.iloc[:,1:5]
test_target = test["PM25"]

In [68]:
#LR.fit(train_features, train_target)

In [69]:
#LR.score(train_features, train_target) #score is 0.71841137533709243

In [70]:
#LR.score(test_features, test_target) #score is 0.70655531403729555

In [71]:
RFC.fit(train_features, train_target)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [72]:
RFC.score(train_features, train_target) #score is ~1

0.9999509683746016

In [73]:
RFC.score(test_features, test_target)

0.7757693627731381